.social img{
    width: 48px;
}
.or div{
    height: 2px;
    background-color: rgba(47, 182, 148, 0.311);
    margin-bottom: 10px;
}
.or p{
    color:rgba(47, 182, 148, 0.729);
    font-weight: 600;
}

.socail button{
    /* cursor: pointer; */
}