.social img{
    width: 48px;
}
.or div{
    height: 2px;
    background-color: #2fb6944f;
    margin-bottom: 10px;
}
.or p{
    color:#2fb694cb;
    font-weight: 600;
}

.socail button{
    /* cursor: pointer; */
}